body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#game-box{
    width: 400px;
    height: 400px;
    background-color: rgb(135, 110, 64);
    margin: 50px;
}

#new-game{
    background-color: darkcyan;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    color: lightcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}