body{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-box{
    /* background-color: rgb(135, 110, 64); */
    padding: 30px;
}

#new-game{
    background-color: darkcyan;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
    border-radius: 50%;
    border: 3px;
    color: lightcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}